.box-content
  = simple_form_for seller_account_path(@seller_account), html: { class: "basic" } do |f|
    = f.error_notification class: "warning"

    = f.input :username

    = render 'application/submit', form: f, cancel_path: seller_accounts_path
