%h2.group-title Bokningar
%table.full.wrap
  %thead
    %tr
      %th Plats
      %th Bokningstid
  %tbody
    - @time_slot.bookings.each do |booking|
      %tr
        %td= link_to booking.place.name, place_path(booking.place)
        %td= interval(booking.time_slot)
        %td= link_to 'Redigera bokningen', edit_booking_path(booking)
