- title "Bokningstider"
%section.box.index
  %h1.box-title= h1
  %table.full.wrap
    %thead
      %tr
        %th Tidsintervall

    %tbody
      - @time_slots.each do |time_slot|
        %tr
          %td= link_to interval(time_slot), edit_time_slot_path(time_slot)
      %tr
        %td
          .actions= link_to t('actions.new'), new_time_slot_path, class: "btn btn-primary"
