- title "Serveringsvagnar"
%section.home
  %h1.body-copy= h1

  %h2.body-copy Kommande försäljningar från serveringsvagnar
  - if @bookings
    = render 'bookings'
  - else
    .box-content
      .help-block.warning
        = "Det finns förnärvarnade inte några inbokade försäljningar."

  %h2.body-copy Försäljningsplatser
  .map-box
    %iframe{ scrolling: 'no', frameborder: '0', src: '//kartor.malmo.se/init/?appid=adresskarta-v1&amp;poi=August%20Palms%20plats%201' }
