- title "#{t('actions.edit')} bokningsperiod"
%section.box.form
  %h1.box-title= h1
  = render 'form'

  .box-content
    .delete= button_to t('actions.delete'), @booking_period, method: :delete, data: { confirm: 'Är du säker?' }, class: "btn btn-danger btn-sm"
