#filter-form {
  margin-bottom: 1em;
  .form-row {
    float: left;
  }
  label {
    margin-bottom: .2em;
  }
  select {
    width: emize(200);
    margin: 0 1em .5em 0;
  }
  .form-row.neighborhood {
    clear: left;
  }
  .status {
    clear: left;
  }
  .form-row.reset {
    display: none;
    label {
      visibility: hidden;
    }
    input {
      display: block;
    }
  }
  @media (max-width: 60em) {
    .form-row {
      float: none;
      .control-label {
        @include columns(4);
      }
      .form-control {
        @include columns(8, true);
      }
    }
  }
  @media (max-width: 40em) {
    .form-row {
      @include clearfix();
      margin: .2em 0 .6em;
      .control-label {
        @include columns(12);
      }
      .form-control {
        @include columns(12);
      }
    }
    .form-row.reset {
      .control-label {
        display: none;
      }
    }
  }
}
