// Basic app
body.booking nav.app.basic .booking,

// Sysadmin
body.clients nav.app.basic .clients,
body.settings nav.app.basic .settings,

// Users
body.users nav.app.basic .users {
  font-weight: bold;
}

nav.app.basic section.box {
  margin-top: 2em;
}
nav.app.basic .body-copy {
  font-family: $serif;
}
