section.box.show .box-content {
  table {
    th, td {
      font-size: emize(14, 14);
    }
  }
  h3 {
    font-weight: normal;
    font-size: emize(14, 14);
    margin-bottom: .4em;
  }

  .raw {
    font-family: $monospace;
    overflow-x: scroll;
    white-space: pre;
  }
}

abbr {
  border-bottom: dotted 1px $border-color;
  cursor: help;
}
