%h2.group-title Bokningar
%table.full.wrap
  %thead
    %tr
      %th Företag
      %th Bokningstid
      %th
  %tbody
    - @place.bookings.each do |booking|
      %tr
        %td= link_to booking.company.name, company_path(booking.company)
        %td= interval(booking.time_slot)
        %td= link_to 'Visa', booking_path(booking)
