%h2.group-title Bokningar
%table.full.wrap
  %thead
    %tr
      %th Aktör
      %th Bokningstid
      %th
  %tbody
    - @place.bookings.each do |booking|
      %tr
        - if booking.company
          %td= link_to (booking.company.name), company_path(booking.company)
        - else
          %td= 'Ej bokad'
        %td= date_and_time(booking)
