%h2.group-title Bokningar
%table.full.wrap
  %thead
    %tr
      %th Företag
      %th Bokningstid
      %th
      %th
  %tbody
    - @place.bookings.each do |booking|
      %tr
        %td= link_to booking.company.name, company_path(booking.company)
        %td= booking.time_slot
        %td= link_to 'Redigera bokningen', booking_path(booking)
        %td.delete= button_to 'Ta bort bokningen', booking, method: :delete, data: { confirm: 'Är du säker?' }, class: "btn btn-danger btn-sm"
